@charset "utf-8";

*{margin:0; padding:0;}
ul,li,ol{list-style:none;}
a{text-decoration: none;}



header{width:100%; height:100px; background-color:#333; font-size:16px;}
#header-all{width:1300px; height:100px; margin:0 auto; display:flex; justify-content: space-around; align-items: center;}
nav{width:600px;}
.menubar{display:flex; justify-content: space-around; align-items: center; position:relative;}
.menubar>li>a{font-family: 'Bebas Neue', cursive; color:#fff; font-size:1.5em; letter-spacing: 2.5px; padding-bottom:5px;}
.menubar>li>a:hover{text-decoration: underline red; transition:0.5s ease-in-out;}
.menubar>li{display:inline-block; position:relative;}

.brandlist{width:170px; height:130px; background-color:#333; position:absolute; top:29px; left:0; text-align: left; padding:50px 0 10px 25px; opacity:0.9; display:none;}
.brandlist>li{line-height:38px;}
.brandlist>li>a{font-family: 'Barlow', sans-serif; color:#fff; font-size:1.2rem;}
.brandhover:hover .brandlist{display:block;}

.menulist{width:200px; height:250px; background-color:#333; position:absolute; top:29px; left:-31px; text-align: left; padding:50px 30px 10px 30px; opacity: 0.9; display:none;}
.menulist>li{line-height: 38px;}
.menulist>li>a{font-family: 'Barlow', sans-serif; color:#fff; font-size:1.2rem;}
.menuhover:hover .menulist{display:block;}






.login{width:120px; display:flex; justify-content: space-evenly; align-items: center; opacity: 0.9;}
.login> li a{font-family: 'Bebas Neue', cursive; color:#fff; font-size:1.3em; letter-spacing: 2.3px; padding-bottom:5px;}
#book{border:none; background-color:#c30606; color:#fff; cursor:pointer; padding:15px; border-radius: 20px; line-height: 10px; font-weight: bold;}
