@charset "utf-8";

@font-face {font-family: 'GmarketSansMedium'; /* 지마켓산스 폰트 */
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal;}

/* font */

#slider img{width:100%;}
body{background-color:#fff;}
/* 인기메뉴 */
#popular{width:1300px; height:700px; display:flex; justify-content: space-around; align-items: center; margin:0 auto;}

/* 인기메뉴 왼쪽 박스 */
.pop-leftbox{width:300px; height:640px; font-size:15px; box-sizing:border-box; padding:20px;}
.pop-leftbox p{font-size:0.7em;}
.pop-leftbox h1{font-family: 'Playfair Display', serif; font-size:2em;}
.pop-leftbox h1 span{color:#c30606;}

/* 왼쪽 메뉴 ul */
.pop-leftbox>ul{margin-top:20px;}
.pop-leftbox>ul li{padding:10px;}
.pop-leftbox>ul>li>button{width:220px; border:none; background-color:#fff; cursor:pointer; display:flex; justify-content: flex-start; align-items: center; padding:10px 0 10px 20px;}
.pop-leftbox>ul>li>button.click{background-color:#fff; border-radius:40px; padding:10px 0 10px 20px; box-shadow:3px 5px 10px lightgray;}
.pop-leftbox>ul>li span{margin-left:10%;}
.pop-leftbox>ul li img{width:30px; height:30px;}

/* 인기메뉴 오른쪽 박스 */
.rightboxwrap{width:900px; height: 640px; overflow:hidden;}
.pop-rightbox{width:3600px; height:640px; display:flex; font-size:15px; margin-left:0;}
.pop-rightbox h2{font-family: 'DM Serif Display', serif; margin:1% 2% 0 4%;}
.pop-rightbox h4{font-family: 'GmarketSansMedium'; margin-top:5px;}
.pop-rightbox p{font-family: 'GmarketSansMedium'; font-size:0.92em; color:#c30606;}
.pop-rightbox a{width:400px; height:230px; display:block; overflow: hidden;}
.pop-rightbox a>div:hover{transform:scale(1.1); transition:all 0.35s ease;}

/* 스테이크 메뉴들 */
.steakbox{width:900px; height:600px; display:flex; flex-wrap:wrap; justify-content: space-evenly; align-content:space-around; }
.master-bkgd{width:400px; height:230px; background-image:url(../img/masterpiece.jpg); background-position:50% 70%; background-size:cover;}
.toma-bkgd{width:400px; height:230px; background-image:url(../img/tomahawk.jpg); background-position:50% 70%; background-size:cover;}
.porter-bkgd{width:400px; height:230px; background-image:url(../img/porterhouse.jpg); background-position:50% 50%; background-size:cover;}
.black-bkgd{width:400px; height:230px; background-image:url(../img/blacklabel.jpg); background-position:50% 50%; background-size:cover;}

/* 스테이크 세트 메뉴들 */
.steaksidebox{width:900px; height:600px; display:flex; flex-wrap:wrap; justify-content: space-evenly; align-content: space-around;}
.wing-bkgd{width:400px; height:230px; background-image:url(../img/wing.jpg); background-position:50% 75%; background-size:cover;}
.coconut-bkgd{width:400px; height:230px; background-image:url(../img/coconut.jpg); background-position:50% 65%; background-size:cover;}
.giveme-bkgd{width:400px; height:230px; background-image:url(../img/givemefive.jpg); background-position:50% 50%; background-size:cover;}
.fried-bkgd{width:400px; height:230px; background-image:url(../img/cheesefried.jpg); background-position:50% 50%; background-size:cover;}

/* 파스타 메뉴들 */
.pastabox{width:900px; height:600px; display:flex; flex-wrap:wrap; justify-content: space-evenly; align-content: space-around;}
.pasta-bkgd{width:400px; height: 230px; background-image:url(../img/pasta.jpg); background-position:50% 50%; background-size:cover;}
.steakpasta-bkgd{width:400px; height:230px; background-image:url(../img/steakpasta.jpg); background-position:50% 50%; background-size:cover;}
.shrimp-bkgd{width:400px; height:230px; background-image:url(../img/shrimp.jpg); background-position:50% 50%; background-size:cover;}
.tender-bkgd{width:400px; height:230px; background-image:url(../img/tender.jpg); background-position:50% 50%; background-size:cover;}

/* 런치세트 메뉴들 */ 
.lunchsetbox{width:900px; height:600px; display:flex; flex-wrap:wrap; justify-content: space-evenly; align-content: space-around;}
.ripeye-bkgd{width:400px; height: 230px; background-image:url(../img/ripeye.jpg); background-position:50% 50%; background-size:cover;}
.pointstrip-bkgd{width:400px; height:230px; background-image:url(../img/pointstrip.jpg); background-position:50% 50%; background-size:cover;}
.babyrip-bkgd{width:400px; height:230px; background-image:url(../img/babyrip.jpg); background-position:50% 50%; background-size:cover;}
.jimbomba-bkgd{width:400px; height:230px; background-image:url(../img/jimbobba.jpg); background-position:50% 50%; background-size:cover;}

/* 디저트 메뉴들 */ 
#dessert{width:1300px; height:300px; margin:0 auto; text-align: center; font-size:15px;}
#dessert>p{font-size:0.8em; box-sizing:border-box; padding-top:20px;}
#dessert>h1{font-size:2em; font-family: 'Playfair Display';}
#dessert>h1 span{color:#c30606;}

.dessertbox{width:1219px; margin:0 auto; box-sizing:border-box; margin-top:30px; display:flex; justify-content: space-around;}
.dessertbox>div>a{width:250px; height:100px; border:1px solid lightgray; display:flex; padding:10px;}
.dessertbox>div>a>img{width:100px; height:80px; margin-top:10px;}

.chocolatetext{width:200px; display:flex; flex-wrap:wrap; align-content:center; justify-content: center;}
.cheesetext{width:200px; display:flex; flex-direction:column; align-content:center; justify-content: center;}
.souptext{width:200px; display:flex; flex-direction:column; align-content:center; justify-content: center;}
.saladtext{width:200px; display:flex; flex-direction:column; align-content:center; justify-content: center;}
.dessertbox>div>a>div>h4{font-family: 'GmarketSansMedium';}
.dessertbox>div>a>div>p{font-family: 'GmarketSansMedium'; font-size:0.92em; color:#c30606;}

/* 스테이크아카데미 */
.steakacademy{width:1200px; margin:0 auto; text-align: center; font-size:16px;}
.steakacademy h1>img{width:40px; height: 40px; margin-bottom:10px;}
.steakacademy h1{font-size:2em;}
.academyfirst{margin:0 auto; text-align:center; display:flex; justify-content: space-evenly; background-color: aliceblue;}
.academy1-left{width:430px;}
.academy1-left img{margin-top:20px;}
.academy1-left p{width:420px; text-align: left; margin-top:30px;}
