@charset "utf-8";

@font-face {font-family: 'GmarketSansMedium'; /* 지마켓산스 폰트 */
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal;}

/* font */

#slider img{width:100%;}

/* 인기메뉴 */
#popular{width:1300px; height:700px; display:flex; justify-content: space-around; align-items: center; background-color:burlywood; margin:0 auto;}
/* 인기메뉴 왼쪽 박스 */
.pop-leftbox{width:300px; height:640px; background-color:aliceblue; font-size:15px; box-sizing:border-box; padding:20px;}
.pop-leftbox p{font-size:0.8em;}
.pop-leftbox h1{font-family: 'Playfair Display', serif; font-size:2em;}
.pop-leftbox h1 span{color:#c30606;}
.pop-leftbox>ul li img{width:30px; height:30px;}


/* 인기메뉴 오른쪽 박스 */
.pop-rightbox{width:900px; height:640px; font-size:15px;  background-color:antiquewhite; }
.pop-rightbox h2{font-family: 'DM Serif Display', serif; margin:1% 2% 0 4%;}
/* 스테이크 메뉴들 */
.steak{width:900px; height:600px; display:flex; flex-wrap:wrap; justify-content: space-evenly; align-content:space-around;}
.steak>div{width:400px;}
.pop-rightbox h4{font-family: 'GmarketSansMedium'; margin-top:5px;}
.pop-rightbox p{font-family: 'GmarketSansMedium'; font-size:0.92em; color:#c30606;}
.master-bkgd{width:400px; height:230px; background-image:url(../img/masterpiece.jpg); background-position:50% 70%; background-size:cover;}
.toma-bkgd{width:400px; height:230px; background-image:url(../img/tomahawk.jpg); background-position:50% 70%; background-size:cover;}
.porter-bkgd{width:400px; height:230px; background-image:url(../img/porterhouse.jpg); background-position:50% 50%; background-size:cover;}
.black-bkgd{width:400px; height:230px; background-image:url(../img/blacklabel.jpg); background-position:50% 50%; background-size:cover;}
/* 스테이크 세트 메뉴들 */
